<div class="alert alert-secondary mt-4">
    <span class="oi oi-pencil me-2" aria-hidden="true"></span>
    <strong>@Title</strong>

    <span class="text-nowrap">
        
        <a target="_blank" class="font-weight-bold link-dark" href="https://www.youtube.com/watch?v=NOJveObsX0Q">video Tutorial</a>
    </span>
    
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string? Title { get; set; }
}
